@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.bg{
  min-height: 100%;
  width: 100%;
  z-index: -01;
  position: absolute;
  background-color: hsl(257, 40%, 49%);

}


.bg img {
  background-color: hsl(257, 40%, 49%);
  width: 100%;
  position: absolute;
}

.logo img {
  width: 12rem;
  margin: 3rem 6rem;
}

.main-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0rem 2.5rem;
}

.hero-img img{
    max-width: 100%;
}
.hero-text {
    width: 40%;
  color: white;
  padding: 5rem  2rem;
}

.hero-text h1 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3rem;
  padding-bottom: 1rem;
}

.hero-text p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4rem;
  padding-bottom: 1rem;
}

button{
    padding: .7rem 4rem;
    border-radius:  2rem;
    background-color: white;
    outline: none;
    font-size: .9rem;
    color: hsl(257, 40%, 49%);
    font-weight: 500;
    cursor: pointer;
    box-shadow: 2px 5px 0px rgba(0, 0, 0, 0.3);
}


.social-icon{
  display: flex;
  justify-content: flex-end;
  margin-right: 10rem;
  margin-bottom: 1rem;
}

.social-icon i{
  cursor: pointer;
  margin-right: .5rem;
  font-size: 1.4rem;
  border: 1px solid white;
  color: white;
  border-radius: 2rem;
  padding: .5rem;
}

a{
  color: white;
  text-decoration: none;
  
}

footer{
  padding:1rem ;
}

button:hover {
  background-color: hsl(300, 69%, 71%);
  color: white;
}

.social-icon i:hover{
  color:hsl(300, 69%, 71%) ;
  border: 1px solid hsl(300, 69%, 71%);
}
@media screen and (max-width:375px) {
    
    .logo img {
        margin: 3rem;
      }
      .hero-text {
        width: 100%;
      padding: 3rem  0rem ;
      text-align: center;
    }
    .hero-text h1 {
        font-size: 1.5rem;
        font-weight: 600;
        line-height:normal;
        padding-bottom: 1rem;
      }
      
      .hero-text p {
        font-family: "Open Sans", sans-serif;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.4rem;
        padding-bottom: 1rem;
      }

      .social-icon{
        display: flex;
        justify-content: center;
        margin-right: 0rem;
      }
}


